.instagram-feed {
	a {
		margin:6px;
		margin-right: 10px;
		display: inline-block;
		margin-bottom: 10px;
		width: 23.5%;
		@include tablet {
			width: 49%;
			margin:3px;
		}
		@include mobile {
			width: 100%;
			margin:3px;
		}
		&:hover img {
			filter: grayscale(10);
		}
		img {
			width: 100%;

		}
	}
}


.instagram-post {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: .2s ease;
    }

    ul {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: .2s ease;

        a {
            transition: .2s ease;
            font-size: 20px;
        }

        a:hover {
            color: #ff6f00 !important;
        }
    }


    &:hover::before {
        visibility: visible;
        opacity: 1;
    }

    &:hover ul {
        visibility: visible;
        opacity: 1;
    }
}
