{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="post post-single">
					<h2 class="post-title">{{ .Title }}</h2>
					<div class="post-meta">
						<ul>
              <li><i class="ion-calendar"></i> {{ .PublishDate.Day }} {{ index $.Site.Data.nl.months (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }} </li>
              <li><i class="ion-pricetags"></i>
                {{ range $index, $elements:= .Params.Tags }}
                {{ if ne $index 0 }}, {{ end }}<a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a>
								{{ end }}
              </li>
            </ul>
					</div>
                    {{ if isset .Params "image" }}
                        <div class="post-thumb float-left">
                            <img class="img-responsive" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
                        </div>
                    {{ end }}
					<div class="post-content post-excerpt">
						{{ .Content }}
					</div>
					<div class="post-comments">
						{{ template "_internal/disqus.html" . }}
					</div>
				</div>
			</div>
      <div class="col-md-4">
        {{ partial "blog-sidebar.html" . }}
      </div>
		</div>
	</div>
</section>

{{ end }}
