{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="post post-single">
                    <h2 class="post-title">{{ .Title }}</h2>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <i class="ion-calendar"></i>
                                {{ .PublishDate.Day }}
                                {{ index $.Site.Data.nl.months (printf "%d" .PublishDate.Month) }}
                                {{ .PublishDate.Year }}
                            </li>

                            {{ if isset .Params "lastmod" }}
                            <li>
                                <i class="ion-edit"></i>
                                {{ .Params.LastMod.Day }}
                                {{ index $.Site.Data.nl.months (printf "%d" .Params.LastMod.Month) }}
                                {{ .Params.LastMod.Year }}
                            </li>
                            {{end}}

                            {{ if isset .Params "author" }}
                            <li>
                                <i class="ion-android-people"></i>
                                {{ i18n "posted_by" }}
                                {{if site.Params.multi_author}}
                                {{ range $index, $elements:= .Params.Author }}{{ if ne $index 0 }}, {{ end }}
                                <!-- <a class="text-primary" href="{{ `author/` | relLangURL }}{{ . | urlize }}"> -->
                                <!--     {{ . }} -->
                                <!-- </a> -->
                                {{ end }}
                                {{else}}
                                <!-- <a class="text-primary" href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}"> -->
                                {{ .Params.Author }}
                                <!-- </a> -->
                                {{end}}
                            </li>
                            {{end}}
                            {{ if isset .Params "tags" }}
                            <li>
                                <i class="ion-pricetags"></i>
                                {{ range $index, $elements:= .Params.Tags }}
                                {{ if ne $index 0 }}, {{ end }}
                                <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">
                                    {{ . | humanize }}
                                </a>
                                {{ end }}
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ if isset .Params "image" }}
                    <div class="post-thumb float-left">
                        <img
                            class="img-responsive"
                            src="{{ .Params.Image | relURL }}"
                            alt="{{ .Title }}"
                        >
                    </div>
                    {{ end }}
                    <div class="post-content post-excerpt">
                        {{ .Content }}
                    </div>
                    <div class="post-comments">
                        {{ template "_internal/disqus.html" . }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {{ partial "blog-sidebar.html" . }}
            </div>
        </div>
    </div>
</section>

{{ end }}
